.heading{
font-size: 3em;
margin-left: 40%;
text-decoration: underline;
}
.input{
  margin-left: 40%;
  padding: 10px;
  border: 2px solid black;
  width: 20%;
}
.btn{
  background-color: #f45b69; 
  color: white;
  padding: 10px;
}
.list{
  font-size: 2em;
}
.span{
  display: inline-block;
 font-family: monospace;
}
.div{
  margin-left: 40%;
}